<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
        "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
        
        <beans>
        
        <bean id="product" class="com.flipkart.orders.Product">
        <property name="id" value="222"></property>
        
        </bean>
        
         
        <bean id="p2" class="com.flipkart.orders.Product">
        <property name="id" value="333"></property>
        
        </bean>
        
        <bean id="t1" class="com.flipkart.orders.Transaction">
        
        
        </bean>
        
        <bean id="order1" class="com.flipkart.orders.Order" autowire="constructor">
               
        
        </bean>
       
        </beans>