<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
        "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans >
<!-- s1 : Object reference , class should be FQCN : including package name -->
<bean id="s1" class="com.spring1.Student">

</bean>

<bean id="e1" class="com.spring1.Employee">

</bean>
</beans>